<style>
    .dropbtn {
        background-color: #DDDDDD;
        color: #000000;
        width: 20px;
        height: 20px;
        border-radius: 5px;
        padding-bottom: 3px;
        font-size: 12px;
        border: none;
        cursor: pointer;
    }

        .dropbtn:hover, .dropbtn:focus {
            background-color: #C0C0C0;
        }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 10000;
    }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

    .dropdown a:hover {
        background-color: #f1f1f1;
    }

    .show {
        display: block;
    }
</style>
        <div style="float: left;margin-right:3px;padding-top: 2px"><strong>Selected Language: </strong></div><div style="float: left;margin-right:3px;">
            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">></button>
                <div id="myDropdown" class="dropdown-content">
                    <a onclick="dropLanguageInCookie('English')">English</a>
                    <a onclick="dropLanguageInCookie('Spanish')">Spanish</a>
                    <a onclick="dropLanguageInCookie('French')">French</a>
                </div>
            </div>
        </div><div style="float: left;"><span style="padding-top: 2px" id="selectedLanguage">English</span></div>




<script>
                function dropLanguageInCookie(language) {
                    var currentLanguage = document.getElementById("selectedLanguage").innerHTML;

                    if (!(currentLanguage == language)) {
                        document.getElementById("myDropdown").classList.toggle("show");
                        document.getElementById("selectedLanguage").innerHTML = language;
                        setCookie("selectedLanguage", language, 365);
                        setTimeout(function () {
                            document.location.reload(true);
                        }, 1000);
                    }
                }

                /* When the user clicks on the button,
                toggle between hiding and showing the dropdown content */
                function myFunction() {
                    document.getElementById("myDropdown").classList.toggle("show");
                }

                // Close the dropdown if the user clicks outside of it
                window.onclick = function (event) {
                    if (!event.target.matches('.dropbtn')) {

                        var dropdowns = document.getElementsByClassName("dropdown-content");
                        var i;
                        for (i = 0; i < dropdowns.length; i++) {
                            var openDropdown = dropdowns[i];
                            if (openDropdown.classList.contains('show')) {
                                openDropdown.classList.remove('show');
                            }
                        }
                    }
                }

                function setCookie(cname, cvalue, exdays) {
                    var d = new Date();
                    d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
                    var expires = "expires=" + d.toUTCString();
                    document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
                }
                function getCookie(cname) {
                    var name = cname + "=";
                    var ca = document.cookie.split(";");
                    for (var i = 0; i < ca.length; i++) {
                        var c = ca[i];
                        while (c.charAt(0) == " ") {
                            c = c.substring(1);
                        }
                        if (c.indexOf(name) == 0) {
                            return c.substring(name.length, c.length);
                        }
                    }
                    return "";
                }

                function getLanguage() {
                    var name = "selectedLanguage";
                    var value = null;
                    var cookies = document.cookie.split(/\s*;\s*/);

                    for (var i = 0; i < cookies.length; i++) {
                        if (cookies[i].substring(0, name.length + 1) == (name + "=")) {
                            value = decodeURIComponent(cookies[i].substring(name.length + 1));
                            break;
                        }
                    }
                    if (value.length > 0) {
                        document.getElementById("selectedLanguage").innerHTML = value;
                    }
                }
                getLanguage();



</script>
