@{ 
    if (!(ViewBag.TitleBackground == "NONE"))
    {
        <div class="section section-understated" id="titleBackground" style="background-image:url(/@ViewBag.TitleBackground); background-size:cover; background-position: right;">
            <div class="container">
                <h1 class="m-b-0">@Html.Raw(ViewBag.PageTitle)</h1>
                @*<span style="background-color:#FFFFFF; border: 5px solid #FFFFFF;  box-shadow: 0 0 20px #FFFFFF;border-radius: 8px;opacity: 0.6;
    filter: alpha(opacity=60);"><span style="opacity: 1.0;
    filter: alpha(opacity=100);">@ViewBag.PageTitle</span></span>*@
            </div>
        </div>
    }
}