    <!-- header branding -->
<div class="branding">
    <div class="header-organization-banner"><a href="@Url.Action("Index", "Home")"><img src="~/Content/images/CA-Immigration-Logo.png" alt="Immigration Guide" /></a></div>
</div>