<!-- Settings Bar -->
<div class="language-settings section section-standout collapse collapsed" role="alert" id="languageSettings">
    <div class="container  p-y">
        <button type="button" class="close" data-toggle="collapse" data-target="#languageSettings" aria-expanded="false" aria-controls="siteSettings" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <ul class="langs" style="list-style:none;">
            <li style="display:inline;">
                <a href="" class="setLang btn btn-primary" title="Arabic" id="ar" data-lang="ar" style="margin-bottom: 2px;">العربية</a> @* Arabic = ar = ARA *@
                <a href="" class="setLang btn btn-primary" title="Armenian" id="hy" data-lang="hy" style="margin-bottom: 2px;">Հայերեն</a>@* Armenian - hy = ARM *@
                <a href="" class="setLang btn btn-primary" title="Cantonese" id="zh-CHT" data-lang="zh-CHT" style="margin-bottom: 2px;">粵語</a>@* Cantonese - zh-CHT = CAN = zh-HK *@
                <a href="" class="setLang btn btn-primary" title="English" id="en" data-lang="en" style="margin-bottom: 2px;">English</a>
                <a href="" class="setLang btn btn-primary" title="Farsi" id="fa" data-lang="fa" style="margin-bottom: 2px;">انگلیسی</a>@* Farsi = fa = FAR *@
                <a href="" class="setLang btn btn-primary" title="Khmer (Cambodia)" id="km" data-lang="km" style="margin-bottom: 2px;">ខ្មែរ</a>@* km = KHM*@
                <a href="" class="setLang btn btn-primary" title="Korean" id="ko" data-lang="ko" style="margin-bottom: 2px;">한국어 </a>@* ko = KOR *@
                <a href="" class="setLang btn btn-primary" title="Mandarin" id="zh-CHS" data-lang="zh-CHS" style="margin-bottom: 2px;">普通话</a>@* zh-CHS = MAN = zh-CN *@
                <a href="" class="setLang btn btn-primary" title="Russian" id="ru" data-lang="ru" style="margin-bottom: 2px;">Русский</a>@* Russian - ru = RUS*@
                <a href="" class="setLang btn btn-primary" title="Spanish" id="es" data-lang="es" style="margin-bottom: 2px;">Español</a>@* es = SPA *@
                <a href="" class="setLang btn btn-primary" title="Tagalog (Filipino)" id="fil" data-lang="fil" style="margin-bottom: 2px;">Tagalog (Filipino)</a>@* fil = TAG *@
                <a href="" class="setLang btn btn-primary" title="Vietnamese" id="vi" data-lang="vi" style="margin-bottom: 2px;">Tiếng Việt</a>@* vi = VIE *@
            </li>
        </ul>
    </div>
</div>
