<script type="text/javascript">
    var defaultActiveLink = "Home";
</script>


<div id="agencyText">
    @Html.Partial("~/Views/Shared/ImmigrantGuide/_Spinner.cshtml")
</div>

<script>
var imageUrlPrefix = "http://stateentityprofile.ca.gov/Uploads";

 function getQueryStringValue (key) {
 return decodeURIComponent(window.location.search.replace(new RegExp("^(?:.*[&\\?]" + encodeURIComponent(key).replace(/[\.\+\*]/g, "\\$&") + "(?:\\=([^&]*))?)?.*$", "i"), "$1"));
 }

    var ItemId = getQueryStringValue('Id');

    if (!(ItemId)) {
        ItemId = MultiLanguageCode.Cookies.getCookie("LastIdViewed");
        window.location = window.location + "/?Id=" + ItemId;
    }

var xmlhttp = new XMLHttpRequest();
xmlhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
	    myObj = JSON.parse(this.responseText);

		var textToDisplay = "";
		//var arrayLength = myObj.length;

		//for (var i = 0; i < arrayLength; i++) {
			textToDisplay = textToDisplay + "<div class=\"section section-standout\">";
			textToDisplay = textToDisplay + "<div class=\"container\">";
			textToDisplay = textToDisplay + "<div class=\"quarter text-center\">";
			textToDisplay = textToDisplay + "<img src=\"" + imageUrlPrefix + "/";
			if (myObj.LogoUrl) {
				textToDisplay = textToDisplay +  myObj.LogoUrl;
			}
			else
			{
				textToDisplay = textToDisplay + "logo-CAGeneral.png"
			}
			textToDisplay = textToDisplay + "\" class=\"img-responsive m-b\" alt=\"" + myObj.FriendlyName +"\">";
			textToDisplay = textToDisplay + "</div>";
			textToDisplay = textToDisplay + "<div class=\"three-quarters\">";
			textToDisplay = textToDisplay + "<h1 class=\"text-accent-p1 m-t-0\">" + myObj.FriendlyName +" (" + myObj.Acronym + ")</h1>";
			textToDisplay = textToDisplay + "<p>" + myObj.Description +"</p>";
			textToDisplay = textToDisplay + "<div class=\"btn-row\">";
			textToDisplay = textToDisplay + "<a target=\"_blank\" href=\"" + myObj.WebsiteURL +"\" class=\"btn btn-primary\"><span class=\"ca-gov-icon-computer\"></span>&nbsp;<span> " + constantWebsite + "</span></a>";
			textToDisplay = textToDisplay + "<a target=\"_blank\" href=\"" + myObj.ContactURL +"\" class=\"btn btn-primary\"><span class=\"ca-gov-icon-contact-us\"></span>&nbsp;<span> " + constantContact + "</span></a>";
			textToDisplay = textToDisplay + "</div>";
			textToDisplay = textToDisplay + "<div class=\"location contact\" itemscope=\"\" itemtype=\"http://schema.org/Organization\">";
			textToDisplay = textToDisplay + "<meta itemprop=\"name\" content=\"" + myObj.FriendlyName +"\">";
			textToDisplay = textToDisplay + "<div class=\"contact\">";
            textToDisplay = textToDisplay + "<p class=\"other\">";
            if (myObj.ContactPhone) {
                textToDisplay = textToDisplay + constantGeneralInformation + ": <span itemprop=\"telephone\">" + myObj.ContactPhone + "</span><br>";
            }
            if (myObj.HearingImpairedPhone) {
                textToDisplay = textToDisplay + constantHearingImpaired + ": <span itemprop=\"telephone\">" + myObj.HearingImpairedPhone + "</span><br>";
            }
            if (myObj.FaxNumber) {
                textToDisplay = textToDisplay + constantFax + ": <span itemprop=\"faxNumber\">" + myObj.FaxNumber + "</span><br>";
            }
            textToDisplay = textToDisplay + "</p>";
			textToDisplay = textToDisplay + "</div>";
			textToDisplay = textToDisplay + "</div>";
			textToDisplay = textToDisplay + "<ul class=\"list-inline list-unstyled details-page-social-icons\">";
			if (myObj.TwitterAccount) {
				var thisitem1 = myObj.TwitterAccount;
				thisitem1 = thisitem1.replace("https://","");
				thisitem1 = thisitem1.replace("http://","");
				thisitem1 = thisitem1.replace("www.twitter.com/","");
				textToDisplay = textToDisplay + "<li style=\"margin-right:8px;margin-left: 8px;margin-top: 10px;\">";
				textToDisplay = textToDisplay + "<a target=\"_blank\" href=\"https://twitter.com/" + thisitem1 + "\"><span class=\"ca-gov-icon-twitter\" aria-hidden=\"true\"><span class=\"sr-only\">Twitter</span></span></a>";
				textToDisplay = textToDisplay + "</li>";
			}
			if (myObj.Facebook) {
				var thisitem2 = myObj.Facebook;
				thisitem2 = thisitem2.replace("https://","");
				thisitem2 = thisitem2.replace("http://","");
				thisitem2 = thisitem2.replace("www.facebook.com/","");
				textToDisplay = textToDisplay + "<li style=\"margin-right:8px;margin-left: 8px;margin-top: 10px;\">";
				textToDisplay = textToDisplay + "<a target=\"_blank\" href=\"https://www.facebook.com/" + thisitem2 + "\"><span class=\"ca-gov-icon-facebook\" aria-hidden=\"true\"><span class=\"sr-only\">Facebook</span></span></a>";
				textToDisplay = textToDisplay + "</li>";
			}
			if (myObj.YouTube) {
				var thisitem3 = myObj.YouTube;
				thisitem3 = thisitem3.replace("https://","");
				thisitem3 = thisitem3.replace("http://","");
				thisitem3 = thisitem3.replace("www.youtube.com/","");
				textToDisplay = textToDisplay + "<li style=\"margin-right:8px;margin-left: 8px;margin-top: 10px;\">";
				textToDisplay = textToDisplay + "<a target=\"_blank\" href=\"https://www.youtube.com/" + thisitem3 + "\"><span class=\"ca-gov-icon-youtube\" aria-hidden=\"true\"><span class=\"sr-only\">YouTube</span></span></a>";
				textToDisplay = textToDisplay + "</li>";
			}
			textToDisplay = textToDisplay + "</ul>";
			textToDisplay = textToDisplay + "</div>";
			textToDisplay = textToDisplay + "</div>";
			textToDisplay = textToDisplay + "</div>";
		//}
		document.getElementById("agencyText").innerHTML = textToDisplay;
	}
};
    xmlhttp.open("GET", constantAPILocation + "?Id=" + ItemId + "&AgencyOrService=a&lang=" + constantEntityProfileLangCode, true);
xmlhttp.send();


</script>
