@{
    ViewBag.BrowserTitle = "Building Skills & Educational Attainment";
}
@{
    ViewBag.PageTitle = "Building Skills & Educational Attainment";
}
<script type="text/javascript">
    var defaultActiveLink = "Home";
</script>

<div class="section section">
    <div class="container">

        <h3 role="heading" aria-level="1">Building Skills & Educational Attainment</h3>

        <p>Immigrant applicants who will face a public charge determination may benefit from building their skills and education to enhance positive factors of their assessment, including their English proficiency, work skills and level of education. </p>
        <p>Below is a chart of how education and skills will be weighed. Resources to help support building skills and education are listed below the chart.</p>

        <style>
        /* Create four equal columns that floats next to each other */
            .column2 {
                float: left;
                width: 25%;
                padding: 10px;
            }

            /* Clear floats after the columns */
            .row2:after {
                content: "";
                display: table;
                clear: both;
            }

            /* Responsive layout - makes the four columns stack on top of each other instead of next to each other */
            @@media screen and (max-width: 600px) {
                .column2 {
                    width: 100%;
                }
            }
        </style>
        <div style="background-color: #e3e3e3; text-align: center; padding: 5px; margin-top: 30px;">
            <h3 style="padding: 0px; margin: 0px;">Applicant’s Education and Skills</h3></div>
        <div class="row2">
            <div class="column2" style="padding: 0px;">
                <div style="background-color: #e3e3e3; text-align: center; padding: 5px; min-height: 65px;"><h4 style="padding: 0px; margin: 0px;">Positive Factor</h4></div>
                <div style="padding: 5px;">
                    <ul>
                        <li style="padding-bottom: 15px;">
                            Attendance

                            in

                            elementary,

                            middle, or

                            high school
                        </li>

                        <li style="padding-bottom: 15px;">
                            High School

                            Diploma or

                            GED or

                            equivalent
                        </li>

                        <li style="padding-bottom: 15px;">
                            Higher

                            education

                            such as

                            Bachelor's

                            Degree,

                            Master's

                            Degree, or

                            Doctoral

                            Degree
                        </li>

                        <li style="padding-bottom: 15px;">Skills and

                            certifications

                            relevant to

                            employment</li>

                        <li style="padding-bottom: 15px;">
                        Basic English

                        proficiency

                        <li style="padding-bottom: 15px;">
                            Primary

                            Caregiver
                        </li>

                        <li style="padding-bottom: 15px;">
                            Other

                            language

                            skills in

                            addition to

                            English
                        </li>
                    </ul>
                </div>
            </div>
            <div class="column2" style="padding: 0px;">
                <div style="background-color: #e3e3e3; text-align: center; padding: 5px; min-height: 65px;"><h4 style="padding: 0px; margin: 0px;">Negative Factors</h4></div>
                <div style="padding: 5px;">
                    <ul>
                        <li style="padding-bottom: 15px;">
                            No high school diploma or GED or equivalent
                        </li>
                        <li style="padding-bottom: 15px;">No work experience</li>
                        <li style="padding-bottom: 15px;">No occupational skills</li>
                        <li style="padding-bottom: 15px;">Limited to no English language proficiency</li>
                    </ul>
                </div>
            </div>
            <div class="column2" style="padding: 0px;">
                <div style="background-color: #e3e3e3; text-align: center; padding: 5px; min-height: 65px;"><h4 style="padding: 0px; margin: 0px;">Heavily Weighted Negative Factor</h4></div>
                <div style="padding: 5px;">
                    <ul>
                        <li>The immigrant is not a full-time student and is authorized to work, but is unable to demonstrate current employment, recent employment history, or a reasonable prospect of future employment</li>
                    </ul>
                </div>
            </div>
            <div class="column2" style="padding: 0px;">
                <div style="background-color: #e3e3e3; text-align: center; padding: 5px; min-height: 65px;"><h4 style="padding: 0px; margin: 0px;">Heavily Weighted Positive Factor</h4></div>
                <div style="padding: 5px;">
                    <ul>
                        <li>The immigrant is authorized to work and is currently employed in a legal industry with an annual income, excluding any income from illegal activities, of at least 250 percent of the Federal Poverty Level (FPL) for the immigrant’s household size</li>
                    </ul>
                </div>
            </div>

        </div>


        <a href="/en/FindJobsAndTraining"><h4>Find Jobs & Training</h4></a>

        <p>California has services to help people find jobs. Community based organizations, adult schools, and community colleges have programs and services that can help you get job training and increase your job skills. These organizations have events like job hiring fairs and give classes in job training and career technical education.</p>

        <p>Jobs and training programs are <span style="font-weight: bold; text-decoration: underline">NOT</span> part of the public charge determination.</p>

        <p>For more information regarding these services please visit <a href="/en/FindJobsAndTraining">https://immigrantguide.ca.gov/en/FindJobsAndTraining</a>.</p>

        <a href="/en/Education"><h4>Education — Services</h4></a>

        <p>California has schools for people of all ages and skill levels. There are public and private elementary, middle, and high schools. There are also private colleges and universities. Our state public colleges include the University of California (UC), California State University (CSU), and California Community Colleges (CCC), which all have campuses across the State.</p>
        <p>California also has student financial aid programs for people who need help paying for school. The programs can help people who are getting a bachelor’s degree, a teaching credential, or a technical or vocational certificate. California also offers the Dream Act for undocumented students who qualify to apply for state financial aid.</p>

        <p>
        Financial aid is <span style="font-weight: bold; text-decoration: underline">NOT</span> part of the public charge determination.

        <p>For more information regarding these services please visit <a href="/en/Education">https://immigrantguide.ca.gov/en/Education</a>.</p>


    </div>
</div>