@{
    ViewBag.BrowserTitle = "Public Charge";
}
@{
    ViewBag.PageTitle = "Public Charge";
}
<script type="text/javascript">
    var defaultActiveLink = "Home";
</script>

<div class="section section">
    <div class="container">
        
        <p style="font-weight: bold;">New Public Charge Policy</p>

        <p>Under longstanding federal policy, the federal government may deny a non-US citizen entry into the United States, or adjustment to lawful permanent resident status (a green card), if he or she is determined likely in the future to become a public charge based on the totality of the individual's circumstances.</p>

        <p>Last year, the federal government released a new public charge policy that changes how this determination is made. Overall, it will become harder for lower-income immigrants to obtain green cards, including due to factors other than public benefits.</p>

        <p>One key change relates to use of public benefits. Although use of public benefits has long been considered as one factor in the public charge determination, the new policy expands the types of public benefits that are considered.</p>

        <p>Beginning February 24, 2020, the federal government will implement this new policy. Individuals will be required to disclose whether they have applied for or use certain public benefits as part of their immigration application. An immigration attorney can advise what public benefits must be disclosed as part of the application.</p>

        <p style="font-weight: bold;">URGENT ALERT: Effective July 29, 2020, a federal court ruling prohibits the application and enforcement of this new public charge rule so long as there is a declared national emergency related to the COVID-19 pandemic.</p>

        <p style="font-weight: bold;">If you have questions about your specific case, please consult <a href="https://www.cdss.ca.gov/benefits-services/more-services/immigration-services/immigration-services-contractors/public-charge-contact-list">qualified immigration assistance here</a>.</p>

        <p style="font-weight: bold; padding-top: 20px;">COVID-19</p>

        <p><span style="font-weight: bold; ">Regardless of changes to the public charge rule</span>, if you’re undocumented or don’t have insurance, you can still get COVID-19 testing and treatment through Medi-Cal. Medi-Cal care for COVID-19 related testing or treatment alone DOES NOT count under the public charge rule. Please visit the <a href="https://covid19.ca.gov/guide-immigrant-californians/">Guide for Immigrant Californians</a> for more information.</p>

    </div>
</div>