@{
    ViewBag.BrowserTitle = "PUBLIC BENEFITS AND PUBLIC CHARGE";
}
@{
    ViewBag.PageTitle = "PUBLIC BENEFITS AND PUBLIC CHARGE";
}
<script type="text/javascript">
    var defaultActiveLink = "Home";
</script>

<div class="section section">
    <div class="container">

        <h3>Public Benefits & Public Charge</h3>

            <p>There has been some misinformation about what the new policy may mean for immigrants and their families. Below are four key facts to know with further detail in the accompanying CA Health & Human Services Fact Sheet ( <a href="https://www.chhs.ca.gov/blog/2020/02/24/update-chhs-public-charge-guide-2/" target="_blank">English</a> / Spanish ) fact sheet.</p>
        
            <ol>
                <li><span style="font-weight: bold;text-decoration: underline">NOT</span> all immigrants are subject to a public charge determination.</li>
                <li>Public benefits accepted by family members are generally <span style="font-weight: bold;text-decoration: underline">NOT</span> considered.</li>
                <li>The new policy does <span style="font-weight: bold;text-decoration: underline">NOT</span> change eligibility rules for public benefits programs.</li>
                <li>Only <span style="font-weight: bold;">some</span> benefits are considered “public benefits” for purposes of public charge.</li>
            </ol>

        <p>If you intend to apply for or receive benefits from the following public programs and intend to apply for a green card, visa, or admission into the United States, consulting with an immigration or public benefits attorney will help you better understand whether those benefits may impact your individual case.<br /></p>

        <p><span style="font-weight: bold;">Public Benefits Considered for Public Charge</span></p>
        
        <ul>
            <li>CalFresh or SNAP</li>
            <li>
                Medi-Cal or Medicaid, with some exceptions (see below)
            </li>
            <li>
                In-Home Supportive Services, with some exceptions (see below)
            </li>
            <li>
                Federal Public Housing and Section 8 assistance
            </li>
            <li>
                Supplemental Security Income
            </li>
            <li>
                CalWORKs or TANF cash assistance
            </li>
                <li>
                    State and local cash assistance programs
                </li>
                <li>Public assistance for long-term care in an institution</li>
        
            </ul>
        
            <p><span style="font-weight: bold;">Medicaid / Medi-Cal Exclusions</span>: The following Medi-Cal benefits are <span style="font-weight: bold;text-decoration: underline">NOT</span> considered for purposes of the public charge inadmissibility determination:</p>
   
            <ul>
                <li>
                    Benefits paid for an emergency medical condition;
                </li>
                <li>
                    Services or benefits funded by Medicaid but provided under the Individuals with Disabilities Education Act (IDEA);
                </li>
                <li>
                    School-based benefits provided to children who are at or below the oldest age of children eligible for secondary education as determined under State law;
                </li>
             <li>Benefits received by an applicant under the age of 21; and
                    <ul>
                        <li><span style="font-weight: bold;">Note</span>: Medi-Cal benefits received by a noncitizen under the age of 21 are a <span style="font-weight: bold;">positive factor</span> for a public charge determination.</li>
                    </ul>
                </li>
               <li>Benefits received by a pregnant applicant, including the period during the pregnancy and 60 days after the end of the pregnancy.
                    <ul>
                        <li><span style="font-weight: bold;">Note</span>: Medi-Cal benefits received by pregnant women and women within the 60-day period beginning on the last day of the pregnancy are a <span style="font-weight: bold">positive factor</span> for a public charge determination.</li>
                    </ul>
                </li>
            </ul>

            <p style="font-weight: bold;">Public Benefits <span style="text-decoration: underline">NOT</span> Considered for Public Charge</p>
            <ul>

                <li>
                    Attending public school;
                </li>
                <li>
                    Education and workforce development services or training
                </li>
                <li>Benefits though school lunch or other supplemental nutrition programs including:
                    <ul>
                        <li>Benefits through the Child Nutrition Act;</li>
                        <li>Benefits from the National School Lunch Act;</li>
                    </ul>
                </li>
                <li>
                    Summer Food Service program;
                </li>
                <li>
                    Childcare related services including the Child Care and Development Block Grant Program (CCDBGP);
                </li>
                <li>
                    Special Supplemental Nutrition Program for Women, Infants, and Children (WIC);
                </li>
                <li>
                    Children's Health Insurance Program (CHIP) and State Children's Health Insurance Program (SCHIP);
                </li>
                <li>
                    Health Insurance through the Affordable Care Act;
                </li>
                <li>
                    Tax Credits; including the CalEITC and Young Child Tax Credit
                </li>
                <li>
                    Education or Workforce Training
                </li>
                <li>
                    Programs, services, or assistance (such as soup kitchens, crisis counseling and intervention, and short-term shelter) provided by local communities or through public or private nonprofit organizations;
                </li>
                <li>
                    Public health assistance for immunizations with respect to immunizable diseases and for testing and treatment of symptoms of communicable diseases whether or not such symptoms are caused by a communicable disease;
                </li>
                <li>
                Unemployment benefits;</li>
                <li>Worker's compensation;</li>
                <li>Transportation vouchers or other non-cash transportation services;</li>
                <li>Housing assistance under the McKinney-Vento Homeless Assistance Act;</li>
                <li>Energy benefits such as the Low Income Home Energy Assistance Program (LIHEAP);</li>
                <li>Educational benefits, including, but not limited to, benefits under the Head Start Act;</li>
                <li>Student loans and home mortgage loan programs; and</li>
                <li>Foster care and adoption benefits.</li>
                <li>Federal Old-Age, Survivors, and Disability Insurance Social Security benefits (SSDI);</li>
                <li>Social Security;</li>
                <li>Veteran's benefits including but not limited to <a href="https://www.va.gov/homeless/hud-vash.asp" target="_blank">HUD-VASH</a>, and medical treatment through the <a href="https://www.va.gov/health/" target="_blank">Veteran's Health Administration</a>;</li>
                <li>Government (including federal and state) pension benefits and healthcare;</li>
                <li>Medicare; or</li>
                <li>Federal and state disability insurance.</li>
                <li>Any services provided under the Robert T. Stafford Disaster Relief and Emergency Assistance Act (Stafford Act);</li>
                <li>Benefits under the Emergency Food Assistance Act (TEFAP);</li>
                <li>Child and Adult Care Food Program (CACFP);</li>
                <li>Food Distribution Program on Indian Reservations (FDPIR);</li>
                <li>Short-term, non-cash, in-kind emergency disaster relief;</li>
            </ul>

            <p><span style="font-weight: bold;">Tax-Related Cash Benefit</span>: The following tax related cash benefits are NOT considered for purposes of the public charge inadmissibility determination:</p>
            <ul>
                <li>Earned Income Tax Credit (EITC);</li>
                <li>Additional Child Tax Credit (ACTC);</li>
                <li>Premium Tax Credit (PTC);</li>
                <li>Advance Payment of Premium Tax Credit (APTC); and</li>
                <li>State, local, or tribal tax credits including the CalEITC and Young Child Tax Credit</li>
            </ul>

</div>
</div>