@{
    ViewBag.BrowserTitle = "DACA UPDATES";
}
@{
    ViewBag.PageTitle = "<span style='color: #439465;font-weight: bold;'>DACA UPDATE</span>";
}
<script type="text/javascript">
    var defaultActiveLink = "Home";
</script>

<div id="homeBackground" class="section section-default " style="background-image: url(/content/images/people-with-flag.jpg); background-repeat: no-repeat; background-size: cover;     background-position-x: center; background-position-y:center;">
    <div class="container">
        <div class="group featured-blurbs" style="margin: 0px;padding: 10px;">
            <div class="row">
                <div class="full">
                    <div class="home-blurb-text hover" style="color: #fdb81d;font-size: 3em;margin-top:0px; padding: 0px;"><strong>DACA UPDATES</strong></div>
                </div>
            </div>
        </div>
    </div>
</div>
            @*
                <div id="homeBackground" class="section section-default " style="background-image: url(/content/images/people-with-flag.jpg); background-repeat: no-repeat; background-size: cover;     background-position-x: center; background-position-y:center;">
                    <div class="container">
                        <div class="group featured-blurbs" style="margin: 0px;padding: 5px 10px 20px 10px;">
                            <div class="row" >
                                <div class="full">
                                    <div class="home-blurb-text hover" style="color: #fdb81d;font-size: 2.5em;margin-top:0px; padding: 0px;"><strong>DACA UPDATES</strong></div>
                                </div>
                            </div>


                            <div class="row" style="margin: 5px 0px 0px 0px;padding: 0px;">

                                <div class="third" >

                                    <div class="home-blurb-text hover" style="color: #fdb81d;font-size: 2.1em;"><strong>DEADLINE</strong></div>

                                    <div class="home-blurb-text hover" style="color: #fdb81d; margin: 15px 0px 15px 0px"><img src="~/Content/images/oct-5.png" /></div>

                                    <div class="home-blurb-text hover" style="color: #fdb81d;">Renewal applications<br />
                                    must be <strong>received</strong> by<br />
                                    <strong>October 5th 2017</strong><br />
                                    for those whose<br />
                                    DACA expires before<br />
                                    March 5th 2018.
                                    </div>
                                </div>


                                <div class="third" >

                                    <div class="home-blurb-text hover" style="color: #fdb81d;font-size: 2.1em;"><strong>LEGAL HELP</strong></div>

                                    <div class="home-blurb-text hover" style="color: #fdb81d; margin: 15px 0px 15px 0px"><img src="~/Content/images/legal-daca.png" /></div>

                                    <div class="home-blurb-text hover" style="color: #fdb81d;">Find <strong>free legal help</strong><br />with DACA renewals at <br /><a id="bitlylink" href="http://www.bit.ly/daca-referral" target="_blank">www.bit.ly/daca-referral</a></div>

                                </div>
                                <style>
                                    #bitlylink:link {
                                        color: #fdb81d;
                                        text-decoration: underline;
                                    }

                                    /* visited link */
                                    #bitlylink:visited {
                                        color: #fdb81d;
                                        text-decoration: underline;
                                    }

                                    /* mouse over link */
                                    #bitlylink:hover {
                                        color: #FFFFFF;
                                        text-decoration: underline;
                                    }

                                    /* selected link */
                                    #bitlylink:active {
                                        color: #fdb81d;
                                        text-decoration: underline;
                                    }
                                </style>

                                <div class="third">

                                    <div class="home-blurb-text hover" style="color: #fdb81d;font-size: 2.1em;"><strong>SCAM ALERT</strong></div>

                                    <div class="home-blurb-text hover" style="color: #fdb81d; margin: 15px 0px 15px 0px"><img src="~/Content/images/alert-daca.png" /></div>

                                    <div class="home-blurb-text hover" style="color: #fdb81d;">Beware of scams.<br />Only licensed <br />attorneys & accredited<br /> representatives can<br /> give legal advice.</div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            *@
            <div class="section section">
                <div class="container">

                    <p>
                        On January 13th 2018, U.S. Citizenship and Immigration Services (USCIS) <a href="https://www.uscis.gov/humanitarian/deferred-action-childhood-arrivals-response-january-2018-preliminary-injunction" target="_blank">announced</a> that it will accept DACA renewal applications because of an <a href="https://oag.ca.gov/news/press-releases/attorney-general-becerra-secures-nationwide-injunction-daca-lawsuit-protect" target="_blank">order</a> issued by a U.S. District Court in San Francisco.
                    </p>
                    <p>
                        The State of California funds <a href="http://www.cdss.ca.gov/Portals/9/Immigration/Contractor%20Referral%20List%20FY%2016-17.pdf?ver=2017-08-21-132743-620" target="_blank">community legal services providers</a> who can assist those interested in consulting with an immigration attorney or accredited representative to explore other potential immigration relief.
                    </p>

                    <p>Previously, on September 5th 2017, the Trump Administration <a href="https://www.dhs.gov/news/2017/09/05/memorandum-rescission-daca" target="_blank">announced</a> its intention to phase out and end the federal Deferred Action for Childhood Arrivals (DACA) program.</p>

                    <p>The California Attorney General has issued a <a href="https://oag.ca.gov/consumers/general/immigration_consultants" target="_blank">consumer alert</a> advising individuals to be careful who they consult with on immigration matters. Only licensed attorneys and accredited representatives can give legal advice.</p>

                    <p>
                        The Governor's Office has issued the following statement and letter related to DACA:
                        <ul>
                            <li><a href="https://www.gov.ca.gov/news.php?id=19939" target="_blank">Statement on DACA Decision</a>, September 5, 2017</li>
                            <li><a href="https://www.gov.ca.gov/docs/8.24.17_DACA_Letter.pdf" target="_blank">Governor's Letter to President Trump regarding DACA</a>, August 24, 2017</li>
                        </ul>
                    </p>
                       
                    <p>
                        For more details on the impact of the DACA announcement on State Programs see below:
                    </p>

                    <div style="margin-left: 0px;">

                        <p>
                            <strong>K-12 Public Education</strong>
                            <ul class="list-standout" style="margin-left: 20px;">
                                <li>California Department of Education, <a target="_blank" href="http://www.cde.ca.gov/nr/ne/yr17/yr17ltr0905.asp">Superintendent of Public Instruction Torlakson Statement on End of DACA</a>, September 5, 2017</li>
                                <li>California Department of Education,<a target="_blank" href="http://www.cde.ca.gov/eo/in/safehavens.asp"> Safe Havens FAQ</a></li>
                            </ul>
                        </p>

                        <p>
                            <strong>Higher Education</strong>
                            <ul class="list-standout" style="margin-left: 20px;">
                                <li>The California State University, <a target="_blank" href="https://www2.calstate.edu/attend/student-services/resources-for-undocumented-students/Pages/fact-sheet-re-rescission-of-daca.aspx">Fact Sheet Regarding Rescission of DACA</a>, September 5, 2017</li>
                                <li>The University of California, <a target="_blank" href="https://www.universityofcalifornia.edu/press-room/uc-president-napolitano-statement-decision-end-daca-program">President Napolitano Statement on Decision to End DACA</a>, September 5, 2017</li>
                            </ul>
                        </p>


                        <p>
                            <strong>State Financial Aid</strong>
                            <ul class="list-standout" style="margin-left: 20px;">
                                <li>California Student Aid Commission, <a target="_blank" href="http://www.csac.ca.gov/NEWS/csac_daca_statement.pdf">CSAC Statement on DACA Rescission</a>, September 5, 2017</li>
                            </ul>
                        </p>

                        <p>
                            <strong>Labor and Employment</strong>
                            <ul class="list-standout" style="margin-left: 20px;">
                                <li>Labor & Workforce Development Agency, <a target="_blank" href="http://labor.ca.gov/pdf/nwsrel17-33.pdf">Work Re-Verification Not Required with DACA Decision</a>, September 6, 2017</li>
                            </ul>
                        </p>

                        <p>
                            <strong>Medi-Cal</strong>
                            <ul class="list-standout" style="margin-left: 20px;">
                                <li>Department of Health Care Services, <a target="_blank" href="http://www.dhcs.ca.gov/formsandpubs/publications/Pages/Deferred-Action-for-Childhood-Arrivals-FAQ.aspx">Medi-Cal DACA FAQ</a>, September 8, 2017</li>
                            </ul>
                        </p>

                        <p>
                            <strong>Driver Licenses</strong>
                            <ul class="list-standout" style="margin-left: 20px;">
                                <li>Department of Motor Vehicles, <a target="_blank" href="https://www.dmv.ca.gov/portal/dmv/detail/daca">DMV Statement on DACA</a>, September 11, 2017</li>
                            </ul>
                        </p>
                    </div>

                </div>
            </div>
            <div class="section section-understated">
                <div class="container">
                    <h2 id="servicesSubset">DACA - Related Services</h2>
                    <script>var secondServicesSubset = "DACA" </script>
                    @Html.Partial("~/Views/Shared/ImmigrantGuide/_SubsetOfServicesDACA.cshtml")

                </div>
            </div>
