@{
    ViewBag.BrowserTitle = "DACA UPDATES";
}
@{
    ViewBag.PageTitle = "<span style='color: #439465;font-weight: bold;'>DACA UPDATE</span>";
}
<script type="text/javascript">
    var defaultActiveLink = "Home";
</script>

<div id="homeBackground" class="section section-default " style="background-image: url(/content/images/people-with-flag.jpg); background-repeat: no-repeat; background-size: cover;     background-position-x: center; background-position-y:center;">
    <div class="container">
        <div class="group featured-blurbs" style="margin: 0px;padding: 10px;">
            <div class="row">
                <div class="full">
                    <div class="home-blurb-text hover" style="color: #fdb81d;font-size: 3em;margin-top:0px; padding: 0px;"><strong>DACA UPDATES</strong></div>
                </div>
            </div>
        </div>
    </div>
</div>
            @*
                <div id="homeBackground" class="section section-default " style="background-image: url(/content/images/people-with-flag.jpg); background-repeat: no-repeat; background-size: cover;     background-position-x: center; background-position-y:center;">
                    <div class="container">
                        <div class="group featured-blurbs" style="margin: 0px;padding: 5px 10px 20px 10px;">
                            <div class="row" >
                                <div class="full">
                                    <div class="home-blurb-text hover" style="color: #fdb81d;font-size: 2.5em;margin-top:0px; padding: 0px;"><strong>DACA UPDATES</strong></div>
                                </div>
                            </div>


                            <div class="row" style="margin: 5px 0px 0px 0px;padding: 0px;">

                                <div class="third" >

                                    <div class="home-blurb-text hover" style="color: #fdb81d;font-size: 2.1em;"><strong>DEADLINE</strong></div>

                                    <div class="home-blurb-text hover" style="color: #fdb81d; margin: 15px 0px 15px 0px"><img src="~/Content/images/oct-5.png" /></div>

                                    <div class="home-blurb-text hover" style="color: #fdb81d;">Renewal applications<br />
                                    must be <strong>received</strong> by<br />
                                    <strong>October 5th 2017</strong><br />
                                    for those whose<br />
                                    DACA expires before<br />
                                    March 5th 2018.
                                    </div>
                                </div>


                                <div class="third" >

                                    <div class="home-blurb-text hover" style="color: #fdb81d;font-size: 2.1em;"><strong>LEGAL HELP</strong></div>

                                    <div class="home-blurb-text hover" style="color: #fdb81d; margin: 15px 0px 15px 0px"><img src="~/Content/images/legal-daca.png" /></div>

                                    <div class="home-blurb-text hover" style="color: #fdb81d;">Find <strong>free legal help</strong><br />with DACA renewals at <br /><a id="bitlylink" href="http://www.bit.ly/daca-referral" target="_blank">www.bit.ly/daca-referral</a></div>

                                </div>
                                <style>
                                    #bitlylink:link {
                                        color: #fdb81d;
                                        text-decoration: underline;
                                    }

                                    /* visited link */
                                    #bitlylink:visited {
                                        color: #fdb81d;
                                        text-decoration: underline;
                                    }

                                    /* mouse over link */
                                    #bitlylink:hover {
                                        color: #FFFFFF;
                                        text-decoration: underline;
                                    }

                                    /* selected link */
                                    #bitlylink:active {
                                        color: #fdb81d;
                                        text-decoration: underline;
                                    }
                                </style>

                                <div class="third">

                                    <div class="home-blurb-text hover" style="color: #fdb81d;font-size: 2.1em;"><strong>SCAM ALERT</strong></div>

                                    <div class="home-blurb-text hover" style="color: #fdb81d; margin: 15px 0px 15px 0px"><img src="~/Content/images/alert-daca.png" /></div>

                                    <div class="home-blurb-text hover" style="color: #fdb81d;">Beware of scams.<br />Only licensed <br />attorneys & accredited<br /> representatives can<br /> give legal advice.</div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            *@
            <div class="section section">
                <div class="container">

                    <h2>Background:</h2>
                    <p>On September 5th 2017, the Trump Administration <a href="https://www.dhs.gov/news/2017/09/05/memorandum-rescission-daca">announced</a> its intention to phase out and end the federal DACA program. Multiple lawsuits were filed challenging the Trump Administration’s decision to end the DACA program.</p>

                    <p>U.S. Citizenship and Immigration Services (USCIS) is <a href="https://www.uscis.gov/humanitarian/deferred-action-childhood-arrivals-response-january-2018-preliminary-injunction">currently accepting</a> Deferred Action for Childhood Arrivals (DACA) renewal applications because of an <a href="https://oag.ca.gov/news/press-releases/attorney-general-becerra-secures-nationwide-injunction-daca-lawsuit-protect">order</a> issued by a U.S. District Court in San Francisco.</p>

                    <p>On June 18, 2020, the Supreme Court ruled against the Trump Administration’s decision to end the DACA program. Additional information is expected from USCIS or further court action about whether those who have not previously been granted deferred action under DACA can apply. If you may be eligible to apply for DACA, please seek legal advice through an accredited representative or a licensed attorney. Please see below for more resources.</p>

                    <h2 style="margin-top: 30px;">Governor Newsom has issued the following statements related to DACA:</h2>

                    <ul>
                        <li><a href="https://www.gov.ca.gov/2019/06/28/governor-newsom-statement-on-scotus-decision-to-hear-daca-case/">Governor's Statement on SCOTUS decision to hear DACA cases</a>, June 28, 2019</li>
                        <li><a href="https://www.gov.ca.gov/2020/06/18/governor-newsom-statement-on-u-s-supreme-courts-daca-ruling/">Governor's Statement on SCOTUS decision on DACA case</a>, June 18, 2020</li>
                    </ul>

                    <h2 style="margin-top: 30px;">Seek Qualified Legal Advice:</h2>

                    <p>The State of California funds <a href="https://www.cdss.ca.gov/benefits-services/more-services/immigration-services/immigration-services-contractors">community legal services providers</a> who can assist those interested in consulting with an immigration attorney or accredited representative regarding DACA or other potential immigration relief.</p>
                    
                    <p>The California Attorney General has issued a <a href="https://oag.ca.gov/consumers/general/immigration_consultants">consumer alert</a> advising individuals to be careful who they consult with on immigration matters. Only licensed attorneys and accredited representatives can give legal advice.</p>

                    <h2 style="margin-top: 30px;">Community Supports:</h2>
                    
                    <p>Below are immigration resources from nonprofit organizations that may also provide important tips and help including mental health services, legal aid for workers, and more. To find organizations in your local community please review the list provided under “Immigration Services”.</p>

                    <ul>
                    <li>Informed Immigrant:</li>
                    <ul>
                        <li><a href="https://www.informedimmigrant.com/resource-type/mental-health/">Visit here</a> for more information about Taking Care of Your Mental Health.</li>
                    </ul>
                    <li>Immigrants Rising:</li>
                    <ul>
                        <li><a href="https://immigrantsrising.org/">Visit here</a> for more information about educational and other resources available.</li>
                    </ul>
                    <li>Legal Aid at Work:</li>
                    <ul>
                        <li><a href="https://legalaidatwork.org/our-programs/immigrant-and-ethnic-minority-workers/">Visit here</a> for more information about employment rights and legal aid for immigrant workers.</li>
                    </ul>
                    </ul>

                </div>
            </div>
            <!--<div class="section section-understated">
                <div class="container">
                    <h2 id="servicesSubset">DACA - Related Services</h2>
                    <script>var secondServicesSubset = "DACA" </script>
                    @Html.Partial("~/Views/Shared/ImmigrantGuide/_SubsetOfServicesDACA.cshtml")

                </div>
            </div>
            -->