@{
    ViewBag.BrowserTitle = Immigration_Website.Content.Texts.DisasterRelief.DisasterRelief.browserTitle;
}
@{
    ViewBag.PageTitle = Immigration_Website.Content.Texts.DisasterRelief.DisasterRelief.pageTitle;
}
<script type="text/javascript">
    var defaultActiveLink = "Home";
</script>

<div class="section">
    <div class="container">

        <p style="text-align:center;font-weight:bold;font-size: 1.6em" role="heading" aria-level="1">WILDFIRE, FLOOD, AND MORE RECOVERY RESOURCES</p>

    <p>Below you will find links to disaster recovery resources and information on ensuring your health and safety.</p>

    <p style="font-weight:bold;font-size: 1.2em">Listos California</p>

    <p>Every Californian, regardless of age, ability, income or language, deserves culturally competent education to prepare for wildfire, flood, earthquake, drought, heatwave and other disasters. Thanks to a continuous investment of public funds by Governor Gavin Newsom and state lawmakers, Listos California engages a statewide network of community-based organizations, Tribal Governments, and Community Emergency Response Teams across the state to boost resiliency, provide accessible in-language information and advance a new culture of disaster preparedness.
    <a href="https://www.listoscalifornia.org/">https://www.listoscalifornia.org/</a>
    </p>

<p style="font-weight:bold;font-size: 1.2em">Disaster Relief for Immigrants Guide</p>

<p>The California Department of Social Services Guide to Disaster Services for Immigrant Californians provides detailed information about the different types of federal, state, and local disaster assistance services available in California. Although some of the resources are restricted to individuals or households with lawful immigration status, there are many services available to all Californians.</p>

	<p style="margin-left: 30px;"><a href="https://www.cdss.ca.gov/Portals/13/DisasterAssistanceGuideforImmigrantCaliforniansFinal.pdf" target="_blank">CDSS Guide to Disaster Assistance Services for Immigrant Californians </a> (PDF)</p>
	
	<p style="margin-left: 30px;"><a aria-label="CDSS Guide to Disaster Assistance Services for Immigrant Californians in Spanish" href="https://www.cdss.ca.gov/Portals/13/DisasterAssistanceGuideforImmigrantCaliforniansSpanishFinal.pdf" target="_blank">CDSS Guide to Disaster Assistance Services for Immigrant Californians</a> (PDF in <span lang="us-es">Español</span>) </p>



<p style="font-weight:bold;font-size: 1.2em">CalHHS Emergency Resource Guide</p>

    <p style="margin-left: 30px;">English: <a href="https://www.chhs.ca.gov/blog/2023/01/04/calhhs-emergency-resource-guide/">https://www.chhs.ca.gov/blog/2023/01/04/calhhs-emergency-resource-guide/</a></p>

    <p style="margin-left: 30px;" lang="us-es">En Español: <a href="https://www.chhs.ca.gov/blog/2023/01/10/guia-de-recursos-de-emergencia-del-calhhs/">https://www.chhs.ca.gov/blog/2023/01/10/guia-de-recursos-de-emergencia-del-calhhs/</a></p> 
    </div>
</div>