<header role="banner" id="header" class="global-header fixed">
  <div id="skip-to-content">
    <a href="#main-content">Skip to Main Content</a>
  </div>

  {% if alertHTML %} {{ alertHTML | safe}} {% endif %}

  <div class="utility-header">
    <div class="container">
      <div class="flex-row">
        <div class="social-media-links">
          <div class="header-cagov-logo">
            <a href="https://www.ca.gov">
              <span class="sr-only">CA.gov</span>
              <span class="ca-gov-logo-svg"></span>
            </a>
          </div>
          <p class="official-tag">
            <span class="desktop-only">Official website of the</span>
            State of California
          </p>
        </div>
        <div class="settings-links">
          <a href="https://www.ca.gov/departments/">State Departments</a>
          <a href="https://www.ca.gov/services/">State Services</a>
        </div>
      </div>
    </div>
  </div>

  <div class="section-default">
    <div class="branding">
      <div class="header-organization-banner">
        <a href="/index.html">
          <div class="logo-assets">
            <img
              src="/images/immigrant-logo.svg"
              class="logo-img"
              alt="Immigrant Guide Logo" />
            <div class="logo-text">
              <span class="logo-state">State of California</span>
              <span class="logo-dept">Immigrant Guide</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</header>
