@{
    ViewBag.BrowserTitle = Immigration_Website.Content.Texts.MultiPage.MultiPage.nav_Search;
    ViewBag.PageTitle = Immigration_Website.Content.Texts.MultiPage.MultiPage.nav_Search;
}

@{
    ViewBag.BrowserTitle = "Public Benefits";
}
@{
    ViewBag.PageTitle = "Public Benefits";
}
<script type="text/javascript">
    var defaultActiveLink = "Public Benefits";
</script>

<div class="section">
    <div class="container">


        <img src="~/Content/images/PublicBenefits.jpg"  style="float: left; padding: 0px 20px 15px 0px; width: 350px;" alt="Introduction Image" />  
            <p style="font-size: 1.2em;">
                Many benefits are available to Californians, some regardless of immigration status. These include benefits like food & nutrition, healthcare, housing and small business assistance.
            </p>
                
            <p style="font-size: 1.2em;">
                    You are not a public charge if you collect any of these benefits:
                <ul style="font-size: 1.2em; overflow: hidden;">
                  <li>
                      Food & nutrition benefits, including:
                      <ul style="overflow: hidden;">
                          <li>Free meals for children through school</li>
                          <li>GetCalFresh.org benefits</li>
                          <li>Women, Infants & Children (WIC) benefits</li>
                      </ul>
                  </li>
                  <li>Unemployment insurance</li>
                  <li>Paid family or sick leave</li>
                  <li>Workers’ compensation</li>
                  <li>Disability insurance</li>
                  <li>And many more</li>
                </ul>
            </p>
        
    </div>
</div>


<div class="section section-default">
    <div class="container">
        <h2 id="servicesSubset">Public Benefits — Services</h2>
        <script>var servicesSubset = "Public Benefits"</script>
        @Html.Partial("~/Views/Shared/ImmigrantGuide/_SubsetOfServices.cshtml")
    </div>
</div>

<div class="section">
    <div class="container">
        <h2>Additional Public Benefits</h2>
        <div class="group">
            <div class="half">
                <div class="media">
                    <div class="media-body">

                        <ul class="list-standout">
                            <li>
                                <a href="http://www.benefitscal.org/" target="_blank"><strong>BenefitsCal</strong></a>
                                <p>BenefitsCal is a new website that will replace C4Yourself, YourBenefitsNow, and MyBenefitsCalWIN, to provide one unified experience for all Californians, everywhere. </p>
                            </li>
                            <li>
                                <a href="https://ibank.ca.gov/small-business/disaster-relief/" target="_blank"><strong>California Small Business COVID-19 Relief Grant</strong></a>
                                <p>All Californians can apply for financial help through IBank.</p>
                            </li>
                            <li>
                                <a href="https://Getcalfresh.org " target="_blank"><strong>Get CalFresh</strong></a>
                                <p>Get money for food.  Apply for food stamps in 10 minutes.</p>
                            </li>
                            <li>
                                <a href="https://www.ftb.ca.gov/about-ftb/newsroom/golden-state-stimulus/index.html" target="_blank"><strong>Golden State Stimulus</strong></a>
                                <p>Qualified families and individuals will receive this payment after filing their 2020 tax return.</p>
                            </li>
                            <li>
                                <a href="https://www.sba.gov/funding-programs/loans/covid-19-relief-options" target="_blank"><strong>US Small Business Administration programs</strong></a>
                                <p>Non-US citizens with documentation of their legal status can receive financial help, including Paycheck Protection Plan loans and Economic Injury Disaster Loans.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="half">
                <div class="media">

                    <div class="media-body">

                        <ul class="list-standout">

                            <li>
                                <a href="https://covid19.ca.gov/housing-for-agricultural-workers/" target="_blank"><strong>Housing for the Harvest</strong></a>
                                <p>This program offers temporary hotel housing to agricultural and food processing workers, including farm workers, who need to isolate due to COVID-19. This program gives exposed agricultural workers a place to stay and meals so they can protect their loved ones until they recover.</p>
                            </li>
                            <li>
                                <a href="https://housingiskey.com/" target="_blank"><strong>Housing Is Key</strong></a>
                                <p>Renters, homeowners, and small landlords can get relief if COVID-19 or quarantine impacts your ability to pay all or part of your rent or mortgage.</p>
                            </li>
                            <li>
                                <a href="https://www.cdss.ca.gov/county-offices" target="_blank"><strong>Local Department of Social Services Office Lookup</strong></a>
                                <p>Lookup the office locations for your county Department of Social Services.</p>
                            </li>

                            <li>
                                <a href="https://watershut-off.covid19.ca.gov/" target="_blank"><strong>Water shut-offs</strong></a>
                                <p>The Water Board has restricted water service shut offs during the COVID-19 crisis. Fill out this form to report any water shut off or reconnection issue.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section section-understated">
    <div class="container">
        <h2 id="agencySubset">Public Benefits — State Agencies</h2>
        @Html.Partial("~/Views/Shared/ImmigrantGuide/_SubsetOfAgencies.cshtml")
    </div>
</div>
