@{
    ViewBag.BrowserTitle = Immigration_Website.Content.Texts.Accessibility.Accessibility.browserTitle;
}

<script type="text/javascript">
    var defaultActiveLink = "Home";
</script>

<div class="section">
    <div class="container">

        <h1>@Immigration_Website.Content.Texts.Accessibility.Accessibility.pageTitle</h1>
        @Html.Raw(Immigration_Website.Content.Texts.Accessibility.Accessibility.pageText)
        

        </div>
    </div>
