@{
    ViewBag.BrowserTitle = Immigration_Website.Content.Texts.PrivacyAndUse.PrivacyAndUse.browserTitle;
}
<script type="text/javascript">
    var defaultActiveLink = "Home";
</script>


<div class="section">
    <div class="container">
        <h1>@Immigration_Website.Content.Texts.PrivacyAndUse.PrivacyAndUse.pageTitle</h1>
        @Html.Raw(Immigration_Website.Content.Texts.PrivacyAndUse.PrivacyAndUse.pageText)
    </div>
</div>