@{
    ViewBag.BrowserTitle = Immigration_Website.Content.Texts.YourRights.YourRights.browserTitle;
}

@{
    ViewBag.PageTitle = Immigration_Website.Content.Texts.YourRights.YourRights.pageTitle;
}


<script type="text/javascript">
    var defaultActiveLink = "Home";
</script>

<div class="section section-default">
    <div class="container">
        @Html.Raw(Immigration_Website.Content.Texts.YourRights.YourRights.pageText)
    </div>
</div>


