@{
    ViewBag.BrowserTitle = "COVID-19";
}
@{
    ViewBag.PageTitle = "COVID-19";
}
<script type="text/javascript">
    var defaultActiveLink = "Home";
</script>

<div class="section section-understated" id="titleBackground" style="background-image:url(/Content/images/landing-page-public-benefits.jpg); background-size:cover; background-position: right;">
    <div class="container">
        <h1 class="m-b-0">COVID-19</h1>

    </div>
</div>
<div class="section section">
    <div class="container">
        <h2 style="margin-top: 30px;">Vaccines</h2>

        <p>Staying up to date with your COVID-19 vaccines and following public health recommendations is the best way to protect you and your loved ones against severe illness from COVID-19.</p>
        
        <p>Getting the COVID-19 vaccine is free. You may be asked to verify your age to ensure you and your family get an age appropriate dose.You do not need state-issued ID or insurance to get the vaccine.</p>
        
        <p>You can get the vaccine for free no matter what your immigration or citizenship status is. Vaccinations <strong>do not</strong> count under the public charge rule. You should not be asked about your immigration or citizenship status when you get a COVID-19 vaccine. The federal government has confirmed they will not do immigration operations at or near vaccination sites and clinics.</p>
        
        <p>Get your questions answered by visiting <a href="https://covid19.ca.gov/">covid19.ca.gov</a> or book an appointment today by visiting <a href="https://myturn.ca.gov/">myturn.ca.gov</a>.</p>

        <p>We also have information, in different languages, that you can share via text and social media with your family and friends at <a href="https://toolkit.covid19.ca.gov/partners/">TOOLKIT.COVID19.CA.GOV</a>.</p>
        
        <h2 style="margin-top: 30px;">Testing and treatment</h2>

        <p><strong>You have a right to access public health and medical services that protect you and your family. This includes vaccines and treatments to get better if you get sick.</strong></p>
        
        <h3 style="margin-top: 20px;">Call Medi-Nurse if you’re uninsured or have Medi-Cal, but no regular doctor</h3>
        
        <p>Medi-Nurse is a <a href="https://www.dhcs.ca.gov/Pages/DHCS-COVID%E2%80%9119-Medi-Nurse-Line.aspx">free, 24/7 nurse advice line</a> available at <a href="tel:18774099052">1 877 409 9052</a>. You can:</p>

        <ul>
            <li>Speak directly with a health professional about your symptoms</li>
            <li>
                Get advice about treatment in your area
            </li>
            <li>Ask how to apply for health insurance</li>
        </ul>
    </div>
</div>