@{
    ViewBag.BrowserTitle = Immigration_Website.Content.Texts.MultiPage.MultiPage.nav_Search;
    ViewBag.PageTitle = Immigration_Website.Content.Texts.MultiPage.MultiPage.nav_Search;
}

<script type="text/javascript">
    var defaultActiveLink = "Search";
</script>

<div class="section section-search collapsed">
    <div class="container">
        <div class="group">
            <div class="full" style="margin: 0px 40px 0px 20px;">
                <form id="local_form" action="">
                    <div class="agency-form">
                        <div class="textfield-container">
                            <input type="hidden" name="googleid" value="001779225245372747843:8cyk3d-ufgk" />
                            <label for="q" accesskey="s" class="hidden">Agency Search: </label>
                            <input id="q" type="text" name="q" placeholder="" title="Search" class="search-textfield" size="35" autocomplete="off">
                        </div>
                        <div class="submit-container-listing" style="float:right;margin-right:0px; padding-left: 0px;">
                            <div class="submit-container">
                                <button type="submit"><span class="ca-gov-icon-search"><span class="sr-only">Search</span></span></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        
        <script>

            function getQueryStringValue(key) {
                return decodeURIComponent(window.location.search.replace(new RegExp("^(?:.*[&\\?]" +
                        encodeURIComponent(key).replace(/[\.\+\*]/g, "\\$&") +
                        "(?:\\=([^&]*))?)?.*$",
                        "i"),
                    "$1"));
            }

            var cxvalue = getQueryStringValue('googleid');
            var searchterm = getQueryStringValue('q');

            if (!(searchterm == "Immigrant Guide")) {
                searchterm = searchterm.split('+').join(' ')
                document.getElementById('q').value = searchterm;
            }

            (function() {
                var cx = cxvalue;
                var gcse = document.createElement('script');
                gcse.type = 'text/javascript';
                gcse.async = true;
                gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(gcse, s);
            })();

        </script>
        
        <gcse:searchresults-only></gcse:searchresults-only>

    </div>
</div>