---
title: Jobs and training | California Immigrant Guide
description: Find jobs, training, and workforce programs in California that can help you get or improve your employment.
permalink: en/FindJobsAndTraining/
---

<div
  class="section-understated lineart bg-s1"
  style="background: url('/images/topic4-lineart.svg') no-repeat right / auto;">
  <div class="container p-y-md">
    <h1 class="mt-3 mb-3">Find Jobs & Training</h1>
  </div>
</div>

<div class="container pt-5 pb-5">
  <div class="row">
    <div class="col-md-4">
      <img
        src="/images/find-job.webp"
        alt="Middle aged man is looking on laptop with group of fellow trainees behind him"
        class="img-fluid" />
    </div>
    <div class="col-md-8">
      <p>
        California has services to help people find jobs. Community based
        organizations, adult schools, and community colleges have programs and
        services that can help you get job training and increase your job
        skills. These organizations have events like job hiring fairs, and give
        classes in job training and career technical education.
      </p>
    </div>
  </div>
</div>

<!-- prettier-ignore -->
{%- set side_filter_list = [] -%}
{%- for service in state_entity.services -%}
  {%- if service.AgencyTags and ("Immigration" in service.AgencyTags and "Jobs and unemployment" in service.AgencyTags) and service.ServiceName != "CA COVID-19 Rent Relief" -%}
    {%- set _ = side_filter_list.push(service) -%}
  {%- endif -%}
{%- endfor -%}

<div class="section-default">
  <div class="container pt-5 pb-5">
    <h2 class="mt-0">Find Jobs and Training — Services</h2>
    {%- for service in side_filter_list -%}
    <div data-row-key="{{service.AgencyId}}" class="pos-rel" role="listitem">
      <div class="row">
        <div class="col-md-2 text-center mb-4">
          {% if service.ImagePath %}
          <img
            src="{{service.ImagePath}}"
            data-fallback-ext="{{ service.ImageExt }}"
            loading="lazy"
            crossorigin="anonymous"
            class="img-fluid width-150 d-block mx-auto"
            alt="{{ service.AltText }}"
            aria-hidden="true" />

          {% endif %}
        </div>
        <div class="col-md-6">
          <h3 class="lead m-t-0 mb-3">
            <a
              href="https://www.ca.gov/departments/{{ service.AgencyId }}/services/{{ service.ServiceId }}/">
              {{-service.ServiceName-}}
            </a>
          </h3>
          <p class="font-size-14 bold">by {{service.FriendlyName}}</p>
          <p class="department-description">
            {{service.Description | truncate(180)}}
          </p>
          <ul class="list-unstyled mb-4">
            {% if service.ContactPhoneDisplay %}
            <li>
              <span class="bold">Phone:</span>
              <a href="tel:{{service.ContactPhoneDigits}}"
                >{{service.ContactPhoneDisplay}}</a
              >
            </li>
            {% endif %}
          </ul>
        </div>
        <div class="col-md-3 pt-3">
          <a
            class="btn btn-default btn-sm m-r-md m-b pt-2 pb-2 w-100"
            href="{{service.ServiceUrl}}">
            Launch
            <span class="sr-only">{{service.ServiceName}}</span> service</a
          >
          <a
            href="https://www.ca.gov/departments/{{ service.AgencyId }}/services/{{ service.ServiceId }}/"
            class="btn btn-default btn-sm m-b pt-2 pb-2 w-100">
            <span class="sr-only">{{service.ServiceName}}</span> Service
            details</a
          >
          <hr class="brd-0 mt-0 mb-0" />
        </div>
      </div>
    </div>

    <hr class="m-y-md" data-row-key="{{services.AgencyId}}" />

    {%- endfor %}
  </div>
</div>

<div class="container pt-5 pb-5">
  <h2>Additional Jobs and Training Resources</h2>
  <div class="row">
    <div class="col-lg-6">
      <ul class="list-standout">
        <li>
          <a
            href="http://cwdb.ca.gov/local_boards/local_workforce_investment_associations/ "
            target="_blank"
            class="bold"
            >California's Workforce Development Boards</a
          >
          <p>
            Local Workforce Development Boards offer services for local
            residents and businesses. Their services include One-Stop Career
            Centers, where you can find workforce, education, and business
            services.
          </p>
        </li>
        <li>
          <a
            href="http://www.lacooperativa.org/services-offered/ "
            target="_blank"
            class="bold"
            >La Cooperativa</a
          >
          <p>
            La Cooperativa offers education and employment services in rural
            areas through its member organizations. Their programs help
            farmworkers with job readiness and training programs. La Cooperativa
            and its members implement the
            <a
              href="https://www.dol.gov/agencies/eta/agriculture/"
              target="_blank"
              >National Farmworker Jobs Program</a
            >
            in California.
          </p>
        </li>
      </ul>
    </div>
    <div class="col-lg-6">
      <ul class="list-standout">
        <li>
          <a
            href="http://www.edd.ca.gov/jobs_and_training/Migrant_and_Seasonal_Farm_Worker_Outreach_Program.htm"
            target="_blank"
            class="bold"
            >Migrant and Seasonal Farmworker Outreach Program</a
          >
          <p>
            The Migrant and Seasonal Farmworker Outreach Program has recruitment
            services for migrant seasonal farmworker job seekers including job
            search assistance, CalJOBS SM navigation information, and
            registration and support in accessing other Employment Development
            Department programs.
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="section-default">
  <div class="container pt-5 pb-5">
    <h2 class="mt-0">Find Jobs and Training — State Agencies</h2>

    <!-- prettier-ignore -->
    {%- set side_filter_list = [] -%}
    {%- for agency in state_entity.agencies -%}
      {%- if agency.AgencyTags and ("Immigration" in agency.AgencyTags and "Jobs and unemployment" in agency.AgencyTags) -%}
        {%- set _ = side_filter_list.push(agency) -%}
      {%- endif -%}
    {%- endfor -%}
    {%- for agency in side_filter_list -%}
    <div data-row-key="{{agency.AgencyId}}" class="pos-rel" role="listitem">
      <div class="row">
        <div class="col-md-2 text-center mb-4">
          <img
            src="{{ agency.LogoPath if agency.LogoPath else 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/x8AAwMCAO+X+1cAAAAASUVORK5CYII='}}"
            data-fallback-ext="{{ agency.LogoExt }}"
            class="img-fluid width-150 d-block mx-auto"
            loading="lazy"
            alt="{{agency.FriendlyName}} logo" />
        </div>
        <div class="col-md-6">
          <h3 class="lead m-t-0 m-b">
            <a href="https://www.ca.gov/departments/{{ agency.AgencyId }}/"
              >{{service.ServiceName}} {{agency.FriendlyName}}
              ({{agency.Acronym}})</a
            >
          </h3>
          <p class="department-description">
            {{agency.Description | truncate(180)}}
          </p>
          <ul class="list-unstyled mb-4">
            {% if agency.ContactEmail %}
            <li class="mb-1">
              <span class="bold">Email:</span>
              <a href="mailto:{{agency.ContactEmail}}"
                >{{agency.ContactEmail}}</a
              >
            </li>
            {% endif %} {% if agency.ContactPhone %}
            <li>
              <span class="bold">Phone:</span>
              <a href="tel:{{agency.ContactPhoneDigits}}"
                >{{agency.ContactPhoneDisplay}}</a
              >
            </li>
            {% endif %}
          </ul>
        </div>
        <div class="col-md-3 pt-3">
          <a
            class="btn btn-default btn-sm m-r-md m-b pt-2 pb-2 w-100"
            href="{{agency.WebsiteURL}}"
            ><span class="sr-only">{{agency.FriendlyName}}</span>
            Department website
          </a>
          <a
            href="{{agency.ContactURL}}"
            class="btn btn-default btn-sm m-b pt-2 pb-2 w-100"
            ><span class="sr-only">{{agency.FriendlyName}}</span>
            More contact info
          </a>
          <hr class="brd-0 mt-0 mb-0" />
          {% if agency.GooglePlayStoreUrl or agency.AppleAppStoreUrl %}
          <div class="d-flex justify-content-center gap-3 flex-wrap">
            {% if agency.GooglePlayStoreUrl %}
            <a
              href="{{agency.GooglePlayStoreUrl}}"
              class="wp-block-button__link">
              <img
                src="/images/googleplay-download.svg"
                alt="Get {{agency.FriendlyName}} app on Google Play"
                class="height-50" />
            </a>
            {% endif -%} {% if agency.AppleAppStoreUrl %}
            <a href="{{agency.AppleAppStoreUrl}}" class="wp-block-button__link">
              <img
                src="/images/app-store-download.svg"
                alt="Get {{agency.FriendlyName}} app on the App Store"
                class="height-50 mb-3" />
            </a>
            {% endif -%}
          </div>
          <hr class="brd-0 mt-0 mb-0" />
          {% endif %}
          <div class="d-flex justify-content-center gap-2 flex-wrap">
            {% if agency.Facebook %}
            <a href="{{agency.Facebook}}" class="no-underline font-size-30">
              <span class="ca-gov-icon-share-facebook"></span>
              <span class="sr-only">{{agency.FriendlyName}} Facebook</span>
            </a>
            {% endif %} {% if agency.TwitterAccount %}
            <a
              href="{{agency.TwitterAccount}}"
              class="no-underline font-size-30">
              <span class="ca-gov-icon-share-twitter"></span>
              <span class="sr-only">{{agency.FriendlyName}} X (twitter)</span>
            </a>
            {% endif %} {% if agency.YouTube %}
            <a href="{{agency.YouTube}}" class="no-underline font-size-30">
              <span class="ca-gov-icon-share-youtube"></span>
              <span class="sr-only">{{agency.FriendlyName}} Youtube</span>
            </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    <hr class="m-y-md" data-row-key="{{agency.AgencyId}}" />

    {%- endfor %}
  </div>
</div>
