---
title: State Agencies | California Immigrant Guide
description: Browse California state agencies and find services that support newcomers with English learning, workforce training, naturalization preparation, and legal help.
permalink: en/Home/Agencies/index.html
---

<div
  class="section-understated lineart bg-s1"
  style="background: url('/images/departments-lineart.svg?v2evjhb') no-repeat right / auto;">
  <div class="container p-y-md">
    <h1 class="mt-3 mb-3">State Agencies</h1>
  </div>
</div>

{%- set side_filter_list = [] -%} {%- for agency in state_entity.agencies -%}
{%- if agency.AgencyTags and "Immigration" in agency.AgencyTags -%} {%- set _ =
side_filter_list.push(agency) -%} {%- endif -%} {%- endfor -%}

<div class="container pt-5 pb-5">
  {%- for agency in side_filter_list -%}
  <div data-row-key="{{agency.AgencyId}}" class="pos-rel" role="listitem">
    <div class="row">
      <div class="col-md-2 text-center mb-4">
        <img
          src="{{ agency.LogoPath if agency.LogoPath else 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/x8AAwMCAO+X+1cAAAAASUVORK5CYII='}}"
          data-fallback-ext="{{ agency.LogoExt }}"
          class="img-fluid width-150 d-block mx-auto"
          loading="lazy"
          alt="{{agency.FriendlyName}} logo" />
      </div>
      <div class="col-md-6">
        <h3 class="lead m-t-0 m-b">
          <a href="https://www.ca.gov/departments/{{ agency.AgencyId }}/"
            >{{service.ServiceName}} {{agency.FriendlyName}}
            ({{agency.Acronym}})</a
          >
        </h3>
        <p class="department-description">{{agency.Description}}</p>
        <ul class="list-unstyled mb-4">
          {% if agency.ContactEmail %}
          <li class="mb-1">
            <span class="bold">Email:</span>
            <a href="mailto:{{agency.ContactEmail}}">{{agency.ContactEmail}}</a>
          </li>
          {% endif %} {% if agency.ContactPhone %}
          <li>
            <span class="bold">Phone:</span>
            <a href="tel:{{agency.ContactPhoneDigits}}"
              >{{agency.ContactPhoneDisplay}}</a
            >
          </li>
          {% endif %}
        </ul>
      </div>
      <div class="col-md-3 pt-3">
        <a
          class="btn btn-default btn-sm m-r-md m-b pt-2 pb-2 w-100"
          href="{{agency.WebsiteURL}}"
          ><span class="sr-only">{{agency.FriendlyName}}</span>
          Department website
        </a>
        <a
          href="{{agency.ContactURL}}"
          class="btn btn-default btn-sm m-b pt-2 pb-2 w-100"
          ><span class="sr-only">{{agency.FriendlyName}}</span>
          More contact info
        </a>
        <hr class="brd-0 mt-0 mb-0" />
        {% if agency.GooglePlayStoreUrl or agency.AppleAppStoreUrl %}
        <div class="d-flex justify-content-center gap-3 flex-wrap">
          {% if agency.GooglePlayStoreUrl %}
          <a href="{{agency.GooglePlayStoreUrl}}" class="wp-block-button__link">
            <img
              src="/images/googleplay-download.svg"
              alt="Get {{agency.FriendlyName}} app on Google Play"
              class="height-50" />
          </a>
          {% endif -%} {% if agency.AppleAppStoreUrl %}
          <a href="{{agency.AppleAppStoreUrl}}" class="wp-block-button__link">
            <img
              src="/images/app-store-download.svg"
              alt="Get {{agency.FriendlyName}} app on the App Store"
              class="height-50 mb-3" />
          </a>
          {% endif -%}
        </div>
        <hr class="brd-0 mt-0 mb-0" />
        {% endif %}
        <div class="d-flex justify-content-center gap-2 flex-wrap">
          {% if agency.Facebook %}
          <a href="{{agency.Facebook}}" class="no-underline font-size-30">
            <span class="ca-gov-icon-share-facebook"></span>
            <span class="sr-only">{{agency.FriendlyName}} Facebook</span>
          </a>
          {% endif %} {% if agency.TwitterAccount %}
          <a href="{{agency.TwitterAccount}}" class="no-underline font-size-30">
            <span class="ca-gov-icon-share-twitter"></span>
            <span class="sr-only">{{agency.FriendlyName}} X (twitter)</span>
          </a>
          {% endif %} {% if agency.YouTube %}
          <a href="{{agency.YouTube}}" class="no-underline font-size-30">
            <span class="ca-gov-icon-share-youtube"></span>
            <span class="sr-only">{{agency.FriendlyName}} Youtube</span>
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <hr class="m-y-md" data-row-key="{{agency.AgencyId}}" />

  {%- endfor %}
</div>
